<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
  <tlib-version>1.0</tlib-version>
  <short-name>numberformatter</short-name>
  <uri>/WEB-INF/numberformatter</uri>
  <!-- A validator verifies that the tags are used correctly at JSP
          translation time. Validator entries look like this: 
       <validator>
           <validator-class>com.mycompany.TagLibValidator</validator-class>
           <init-param>
              <param-name>parameter</param-name>
              <param-value>value</param-value>
           </init-param>
       </validator>
    -->
  <!-- A tag library can register Servlet Context event listeners in
         case it needs to react to such events. Listener entries look
         like this: 
      <listener>
          <listener-class>com.mycompany.TagLibListener</listener-class> 
      </listener>
    -->
    
    <!--  <description>Number Formatter Custom Tag</description> -->
<!-- <tlib-version>2.1</tlib-version>
<short-name>mytags</short-name>
<uri>http://developerteam.com/jsp/tlds/mytags</uri> -->
<tag>
	<name>formatNumber</name>
	<tag-class>com.wookie.devteam.customtags.NumberFormatterTag</tag-class>
	<body-content>scriptless</body-content>
	<!-- <attribute>
		<name>number</name>
		<required>true</required>
	</attribute>-->
</tag>
</taglib>

